.widget.widget_news
    h2.widget__name Новости
    .widget__list.widget_news__list
        .widget__item.widget_news__item
            a.widget__item-name(href="#") Дополнительная возможность Системы «ИнтерКлиент»
            .widget__item-text.widget_news__item-text 1 февраля 2016
        .widget__item.widget_news__item
            a.widget__item-name(href="#") Изменение стоимости проезда по Екарте ПАО «Уралтрансбанк»
            .widget__item-text.widget_news__item-text 1 февраля 2016
        .widget__item.widget_news__item
            a.widget__item-name(href="#") Тарифы, действующие с 11.01.2016
            .widget__item-text.widget_news__item-text 30 декабря 2015
    a.btn.btn_b-color_yellow(href="#") Все новости и акции