.widget.widget_actions
    .scroller.js-scroller_actions
        .label Акция
        .scroller__overflow
            table.scroller__content.widget__list.widget_actions__list.js-scroller__content(style="width: 500%; left: 0%;")
                tr
                    td
                        .scroller__banner.widget__item.widget_actions__item(style="background-image: url(../pictures/actions-1.jpg);")
                            a.widget__item-name.widget_actions__item-name(href="#") «25 лет вместе с Вами» по&nbsp;проекту «Зарплатный» — решение для тех, кто экономит!
                            .widget__item-text.widget_actions__item-text  1 февраля 2016
                    td
                        .scroller__banner.widget__item.widget_actions__item(style="background-image: url(../pictures/actions-1.jpg);")
                            a.widget__item-name.widget_actions__item-name(href="#") «25 лет вместе с Вами» по&nbsp;проекту «Зарплатный» — решение для тех, кто экономит!
                            .widget__item-text.widget_actions__item-text  2 февраля 2016
                    td
                        .scroller__banner.widget__item.widget_actions__item(style="background-image: url(../pictures/actions-1.jpg);")
                            a.widget__item-name.widget_actions__item-name(href="#") «25 лет вместе с Вами» по&nbsp;проекту «Зарплатный» — решение для тех, кто экономит!
                            .widget__item-text.widget_actions__item-text  3 февраля 2016
                    td
                        .scroller__banner.widget__item.widget_actions__item(style="background-image: url(../pictures/actions-1.jpg);")
                            a.widget__item-name.widget_actions__item-name(href="#") «25 лет вместе с Вами» по&nbsp;проекту «Зарплатный» — решение для тех, кто экономит!
                            .widget__item-text.widget_actions__item-text  3 февраля 2016
                    td
                        .scroller__banner.widget__item.widget_actions__item(style="background-image: url(../pictures/actions-1.jpg);")
                            a.widget__item-name.widget_actions__item-name(href="#") «25 лет вместе с Вами» по&nbsp;проекту «Зарплатный» — решение для тех, кто экономит!
                            .widget__item-text.widget_actions__item-text  3 февраля 2016

            .scroller__nav.widget_actions__nav
                a.nav-btn.nav-btn_prev.js-nav-btn_prev(href="javascript:void(0);")
                    span.icon.icon_prev-w.nav-btn__icon
                a.nav-btn.nav-btn_next.js-nav-btn_next(href="javascript:void(0);")
                    span.icon.icon_next-w.nav-btn__icon

        .nav-dots.widget_actions__nav-dots.js-scroller__menu
            ul.nav-dots__list
                li.nav-dots__item
                    a.nav-dots__item-link.act(href="#")
                li.nav-dots__item
                    a.nav-dots__item-link(href="#")
                li.nav-dots__item
                    a.nav-dots__item-link(href="#")
                li.nav-dots__item
                    a.nav-dots__item-link(href="#")
                li.nav-dots__item
                    a.nav-dots__item-link(href="#")

script
    |var widgetActions = new Frontend_Banner_Component(['5','5','5','5','30'],'.js-scroller_actions');