.widget.widget_services
    h2.widget__name On-line сервисы
    .row.widget__list.widget_services__list
        a.col-md-3.col-sm-6.widget__item.widget_services__item(href="#")
            .widget_services__item-wrap
                .widget_services__item-decoration
                .widget__item-name.widget_services__item-name Рассчитать кредит
                .widget__item-text.widget_services__item-text От 9% годовых
                .widget_services__item-icon-wrap
            span.icon.icon_calc.widget_services__item-icon
            span.icon.icon_calc-w.widget_services__item-icon.widget_services__item-icon_hover
        a.col-md-3.col-sm-6.widget__item.widget_services__item(href="#")
            .widget_services__item-wrap
                .widget_services__item-decoration
                .widget__item-name.widget_services__item-name Заказать кредитную карту
                .widget__item-text.widget_services__item-text Лимит 50 дней
            span.icon.icon_credit-card.widget_services__item-icon
            span.icon.icon_credit-card-w.widget_services__item-icon.widget_services__item-icon_hover
        a.col-md-3.col-sm-6.widget__item.widget_services__item(href="#")
            .widget_services__item-wrap
                .widget_services__item-decoration
                .widget__item-name.widget_services__item-name Открыть вклад
                .widget__item-text.widget_services__item-text До 18% годовых
            span.icon.icon_percent-time.widget_services__item-icon
            span.icon.icon_percent-time-w.widget_services__item-icon.widget_services__item-icon_hover
        a.col-md-3.col-sm-6.widget__item.widget_services__item(href="#")
            .widget_services__item-wrap
                .widget_services__item-decoration
                .widget__item-name.widget_services__item-name Заказать дебетовую карту
                .widget__item-text.widget_services__item-text Бесплатное обслуживание
            span.icon.icon_debet-card.widget_services__item-icon
            span.icon.icon_debet-card-w.widget_services__item-icon.widget_services__item-icon_hover
        a.col-md-3.col-sm-6.widget__item.widget_services__item(href="#")
            .widget_services__item-wrap
                .widget_services__item-decoration
                .widget__item-name.widget_services__item-name Заработать на&nbsp;драгметаллах
                .widget__item-text.widget_services__item-text Узнайте как
            span.icon.icon_metal.widget_services__item-icon
            span.icon.icon_metal-w.widget_services__item-icon.widget_services__item-icon_hover
        a.col-md-3.col-sm-6.widget__item.widget_services__item(href="#")
            .widget_services__item-wrap
                .widget_services__item-decoration
                .widget__item-name.widget_services__item-name Индивидуальные сейфовые ячейки
                .widget__item-text.widget_services__item-text Полная конфиденциальность
            span.icon.icon_safe.widget_services__item-icon
            span.icon.icon_safe-w.widget_services__item-icon.widget_services__item-icon_hover
        a.col-md-3.col-sm-6.widget__item.widget_services__item(href="#")
            .widget_services__item-wrap
                .widget_services__item-decoration
                .widget__item-name.widget_services__item-name Векселя
                .widget__item-text.widget_services__item-text Продажа векселей Банка, обмен векселей других эмитентов
            span.icon.icon_vexel.widget_services__item-icon
            span.icon.icon_vexel-w.widget_services__item-icon.widget_services__item-icon_hover

    button.more-btn.visible-xs.js-widget_services__btn Показать еще сервисы