.popup.popup_middle.js-popup_office
    button.popup__close.js-popup__close
    .popup__header
        .popup__name Дополнительный офис № 1 ПАО «Уралтрансбанк»
    .popup__body

        .form__item
            h4.page__h4
                span.icon.icon_map-marker.btn__icon
                |Адрес
            |620017, г. Екатеринбург, пр. Космонавтов, д. 15

        .row
            .col-md-6
                .form__item
                    h4.page__h4
                        span.icon.icon_person.btn__icon
                        |Обслуживание физических лиц
                    p Пн-Пт: с 09:00 до 18:00<br/>
                        span.color_gray Сб, Вс: выходной
                    p
                        span.color_gray +7&nbsp;(343)&nbsp;
                        |370-80-24
                    p.color_gray Денежные переводы, Обмен валюты, Платежи, Кредитование, Банковские карты, Вклады, Мобильный банк, Интернет-банк

            .col-md-6
                .form__item
                    h4.page__h4
                        span.icon.icon_case.btn__icon
                        |Обслуживание юридических лиц
                    p Пн-Пт: с 09:00 до 17:00<br/>
                        span.color_gray Сб, Вс: выходной
                    p
                        span.color_gray +7&nbsp;(343)&nbsp;
                        |370-80-24
                    p.color_gray Расчетно-кассовое обслуживание, ИнтерКлиент, Инкассация, Корпоративные карты, Кредитование бизнеса, Валютный контроль

        .form__item
            h4.page__h4 Руководитель подразделения:
            |Стариков Николай Николаевич; <span class="color_gray">+ 7 (343)</span> 370-80-24

        .form__item
            h4.page__h4 Надзорный орган:
            |Уральское главное управление Банка России: 620144, г. Екатеринбург, ул. Циолковского, 18. т. (343) 269 65 00, факс (343) 269-66-90 Дата внесения в книгу Госрегистрации: 07.04.1994 г.

        a.link.link_color_green.hidden-sm(href="#")
            span.icon.icon_print-g.link__icon
            |Напечатать