.popup.popup_promo2
    button.popup__close.js-popup__close
    .popup__header
        .popup__name Нам важно ваше мнение о&nbsp;качестве работы сайта
    .popup__body
        p Уважаемый клиент, предлагаем вам принять участие в&nbsp;опросе, который займет не&nbsp;более 3&nbsp;мин.
        p Заранее благодарим за&nbsp;ваше участие. Спасибо, что выбрали наш&nbsp;банк своим финансовым партнером.
        .form__btns
            button.btn.btn_bg_green-gradient Отправить