.popup.js-popup_phone
    button.popup__close.js-popup__close
    .popup__header
        .popup__name 8-800-1000-767
        .popup__anons Круглосуточный контакт-центр. Звонок по России бесплатный
    .popup__body
        .popup__btns
            a.btn.btn_b-color_yellow(href="#")
                span.icon.icon_headphones.btn__icon
                |Звонок online
            button.btn.btn_b-color_yellow.js-popup__btn_call
                span.icon.icon_call.btn__icon
                |Перезвонить мне
        p Координаты центрального офиса ПАО «Уралтрансбанк»:
        p.fs_small
            a.link(href="+73433701892") +7 (343) 370-18-92
        p.fs_small 620027, г.Екатеринбург, ул.Мельковская, 2б
        p.fs_small Пн-Пт: с 09:00 до 19:00<br/>
            span.color_gray Сб,Вс: выходной
        .popup__links 
            a.link.link_color_green(href="#")
                span.icon.icon_map-marker-g.link__icon
                |Отделения и банкоматы