.popup.popup_promo3
    button.popup__close.js-popup__close
    .popup__header
        .popup__name Интересна ли вам круглосуточная юридическая онлайн-консультация в&nbsp;любой точке за&nbsp;6&nbsp;рублей в&nbsp;день?
    .popup__body
        .form__btns
            button.btn.btn_bg_green-gradient Отправить