.popup.js-popup_call
    button.popup__close.js-popup__close
    .popup__header
        .popup__name Перезвоните мне
        .popup__anons Оставьте свои координаты, и мы свяжемся с Вами в ближайшее время
    .popup__body
        form.form
            .form__item
                label.form__label(for="name") ФИО:
                input.input.input_error#name(type="text")
                .form__error Укажите Ваше имя
            .form__item
                label.form__label(for="phone") Телефон:
                input.input.input_ok#phone(type="text")
            .form__item
                label.form__label(for="comment") Комментарий:
                input.input#comment(type="text")
            .form__item
                label.form__label Выделите серый квадрат:
                .captcha
                    .captcha__item
                        .captcha__callback(rel="f3cd4a" style="background-color:#f3cd4a;")
                    .captcha__item
                        .captcha__callback(rel="4882b0" style="background-color:#4882b0;")
                    .captcha__item.captcha__item_selected
                        .captcha__callback(rel="b4b4b4" style="background-color:#b4b4b4;")
                    .captcha__item
                        .captcha__callback(rel="f27510" style="background-color:#f27510;")
            .form__btns
                button.btn.btn_bg_green-gradient Отправить