.popup.popup_big.js-popup_bank
    button.popup__close.js-popup__close
    .popup__header
        .popup__name Вход в интернет-банк
        .popup__anons Интернет-банк — современный, простой и удобный способ управлять своими денежными средствами.
    .popup__body
        .popup__flex-wrap
            .popup__ticket
                .circle-decorate.popup__circle-decorate
                    .circle-decorate__item
                    .circle-decorate__item
                a.link.link_color_green.popup__name(href="#") Для физических лиц
                    span.icon.icon_new-window-g.icon_sub
                ul.list.list_ul.popup__list
                    li.list__item.list_ul__item Выполнение и планирование платежей и переводов
                    li.list__item.list_ul__item Круглосуточный доступ к счетам и картам
                    li.list__item.list_ul__item Оплата штрафов ГИБДД, налоговые и бюджетные платежи
                    li.list__item.list_ul__item Управление вкладами и кредитами
                a.btn.btn_bg_green-gradient(href="#")
                    span.icon.icon_enter-w.btn__icon
                    |Вход

            .popup__ticket
                .circle-decorate.popup__circle-decorate
                    .circle-decorate__item
                    .circle-decorate__item
                a.link.link_color_green.popup__name(href="#") Для юридических лиц
                    span.icon.icon_new-window-g.icon_sub
                ul.list.list_ul.popup__list
                    li.list__item.list_ul__item Управление расчетными счетами
                    li.list__item.list_ul__item Статусы документов и выписка online
                    li.list__item.list_ul__item Операции в рублях и валюте
                    li.list__item.list_ul__item Импорт/экспорт из 1С
                a.btn.btn_bg_green-gradient(href="#")
                    span.icon.icon_enter-w.btn__icon
                    |Вход