.popup.popup_city.js-popup_city
    .popup__close.js-popup__close
    .popup__body
        .popup__name.popup_city__name Выбор города
        ul.popup_city__list
            li.popup_city__item
                .popup_city__letter А
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Алапаевск
            li.popup_city__item
                .popup_city__letter Б
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Богданович
            li.popup_city__item
                .popup_city__letter В
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Верхний Уфалей
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Верхняя Пышма
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Волчанск
            li.popup_city__item
                .popup_city__letter Е
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Екатеринбург
            li.popup_city__item
                .popup_city__letter И
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Ирбит
            li.popup_city__item
                .popup_city__letter К
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Каменск-Уральский
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Карпинск
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Качканар
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Краснотурьинск
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Красноуральск
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Красноуфимск
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Курган
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Кувша
            li.popup_city__item
                .popup_city__letter Л
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Лесной
            li.popup_city__item
                .popup_city__letter Н
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Нижневартовск
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Нижний Тагил
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Нижняя Тура
            li.popup_city__item
                .popup_city__letter П
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Пермь
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Полевской
            li.popup_city__item
                .popup_city__letter Р
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Ревда
            li.popup_city__item
                .popup_city__letter С
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Серов
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Среднеуральск
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Сургут
            li.popup_city__item
                .popup_city__letter Т
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Тюмень
            li.popup_city__item
                .popup_city__letter Ч
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Челябинск
            li.popup_city__item
                .popup_city__letter Ш
                ul.popup_city__sublist
                    li.popup_city__subitem
                        a.link.popup_city__link(href="#") Шадринск