.popup.popup_promo1
    button.popup__close.js-popup__close
    .popup__body Ваше местоположение определилось как <b>г.Москва</b>. УралТрансБанк в&nbsp;данном городе не&nbsp;имеет отделений, поэтому Вам будет показана информация для&nbsp;города центрального офиса банка - Екатеринбурга.