footer.footer
    .footer__row
        .page__wrapper
            .row
                .col-md-4
                    .support
                        .support__item
                            button.support__name.btn.btn_b-color_gray.support__btn.js-popup__btn_phone 8-800-1000-767
                                span.support__btn-icon
                                    span.icon.icon_arrows
                            .support__desc Звонок по России бесплатный
                        .support__item
                            a.link.support__name(href="tel:+73433701901") +7 (343) 370-19-01
                            .support__desc Контакт-центр

                .col-md-4
                    .menu.menu_footer
                        button.accordion__btn.visible-sm.js-accordion__btn Полезные ссылки
                            span.icon.icon_arrow-l
                        ul.menu__list.accordion_mobile.js-accordion
                            li.menu_footer__item
                                a.link.menu_footer__item-link(href="#") О банке
                            li.menu_footer__item
                                a.link.menu_footer__item-link(href="#") Реквизиты
                            li.menu_footer__item
                                a.link.menu_footer__item-link(href="#") Список лиц
                            li.menu_footer__item
                                a.link.menu_footer__item-link(href="#") Вакансии
                            li.menu_footer__item
                                a.link.menu_footer__item-link(href="#") Продажа залогового имущества

                .col-md-4
                    .footer__links.js-footer__links_desktop
                        a.link.link_color_green.footer__link(href="#")
                            span.icon.icon_questions.link__icon
                            |Часто задаваемые вопросы
                        a.link.link_color_green.footer__link(href="#")
                            span.icon.icon_idea.link__icon
                            |Подать идею

                    .socials.js-socials_desktop
                        .socials__item
                            .socials__name.hidden-sm Мы в социальных сетях:
                            a.socials__btn(href="#")
                                span.icon.icon_vk
                            a.socials__btn(href="#")
                                span.icon.icon_ok
                            a.socials__btn(href="#")
                                span.icon.icon_fb
                            a.socials__btn(href="#")
                                span.icon.icon_tw

    .footer__row
        .page__wrapper
            button.accordion__btn.visible-sm.js-accordion__btn Дополнительные ссылки
                span.icon.icon_arrow-l
            .row.accordion_mobile.js-accordion
                ul.menu__list
                    li.col-md-4
                        a.link.menu_footer__item-link.fs_small(href="#") Обязательная информация профессионального участника
                    li.col-md-4
                        a.link.menu_footer__item-link.fs_small(href="#") Осуществление деятельности по управлению ценными бумагами (по Положению 482-П).
                    li.col-md-4
                        a.link.menu_footer__item-link.fs_small(href="#") Информация о максимальных процентных ставках по вкладам физических лиц.
                    li.col-md-4.visible-sm.js-footer__links_mobile

    .footer__row
        .page__wrapper
            .row
                .col-sm-4
                    .info-block
                        img(src="../../images/icons/ssv.png" alt="" title="Вклады застрахованы").info-block__img
                        .info-block__text Вклады до&nbsp;1&nbsp;400&nbsp;000&nbsp;<span class="rub">a</span><br/>застрахованы<br/>государством

                .col-sm-4
                    .socials
                        .socials__item
                            .socials__name Приложения:
                            a.socials__shop-link.socials__shop-link_apple(href="#")
                            a.socials__shop-link.socials__shop-link_google(href="#")
                .col-sm-4
                    .footer__logos
                        a.footer__logo(href="#")
                            img(src="../../images/icons/gold-site.png")
                        a.footer__logo(href="#")
                            img(src="../../images/icons/euro-bank.png")
                        a.footer__logo(href="#")
                            img(src="../../images/icons/first-ural-bank.png")

            .socials.js-socials_mobile

            .copyright.row
                .col-md-8
                    .copyright__text © ПАО «Уралтрансбанк», 1991 — 2016 Генеральная лицензия ЦБ РФ № 812

                .col-md-4 Разработка:&nbsp;
                    a.link.link_color_green(href="#") Artsofte