.menu.menu_main.js-menu_main

    .menu_main__header.visible-sm

        .js-search_mobile

        .menu_main__links
            .js-header__links-1_mobile
            .js-header__links-2_mobile

    ul.menu__list.menu_main__list
        li.menu_main__item
            .menu__item-link.menu_main__item-link.menu_main__item-link_parent Физическим лицам&nbsp;
            ul.menu__list.menu_main__list.menu_main__list_children
                li.menu_main__item
                    .menu__item-link.menu_main__item-link.menu_main__item-link_parent Кредитование&nbsp;
                        span.menu_main__item-icon
                    ul.menu__list.menu_main__list.menu_main__list_children
                        li.menu_main__item
                            .menu__item-link.menu_main__item-link.menu_main__item-link_parent Нецелевое кредитование&nbsp;
                                span.menu_main__item-icon
                            ul.menu__list.menu_main__list.menu_main__list_children
                                li.menu_main__item
                                    a.menu__item-link.menu_main__item-link(href="#") Потребительский кредит без обеспечения&nbsp;
                                li.menu_main__item
                                    a.menu__item-link.menu_main__item-link(href="#") Потребительский кредит с обеспечением&nbsp;
                                li.menu_main__item
                                    a.menu__item-link.menu_main__item-link(href="#") Рассчитать кредит&nbsp;

                        li.menu_main__item
                            .menu__item-link.menu_main__item-link.menu_main__item-link_parent Кредитные карты&nbsp;
                                span.menu_main__item-icon
                            ul.menu__list.menu_main__list.menu_main__list_children
                                li.menu_main__item
                                    a.menu__item-link.menu_main__item-link(href="#") Кредитная карта с льготным периодом кредитования&nbsp;
                                li.menu_main__item
                                    a.menu__item-link.menu_main__item-link(href="#") Кредитная карта вкладчика&nbsp;
                                li.menu_main__item
                                    a.menu__item-link.menu_main__item-link(href="#") Заявка на кредитную карту&nbsp;

                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") Рассчитать кредит&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") Кредитная история&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") Информация о страховании&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") Документы&nbsp;

                li.menu_main__item
                    .menu__item-link.menu_main__item-link.menu_main__item-link_parent Банковские карты&nbsp;
                        span.menu_main__item-icon
                    ul.menu__list.menu_main__list.menu_main__list_children
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") VISA Unembossed&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") VISA Сlassic&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") VISA Classic с фото&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") VISA Gold&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") VISA Gold с фото&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") VISA Unembossed Instant Issue&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") Акции&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") Дополнительные сервисы&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") ЕКАРТА&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") Заявка на карту&nbsp;
                        li.menu_main__item
                            a.menu__item-link.menu_main__item-link(href="#") Часто задаваемые вопросы по банковским картам&nbsp;

                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Вклады&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Интернет-банк&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Денежные переводы&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Платежи&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Обмен валюты&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Драгоценные металлы&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Индивидуальные сейфы&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link.act(href="#") Векселя&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Тарифы для физических лиц&nbsp;

        li.menu_main__item
            .menu__item-link.menu_main__item-link.menu_main__item-link_parent Юридическим лицам&nbsp;
            ul.menu__list.menu_main__list.menu_main__list_children
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Кредитование бизнеса&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Расчетно-кассовое обслуживание&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Система ИнтерКлиент&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Зарплатный проект&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Валютный контроль&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Корпоративные карты&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Эквайринг&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Депозиты&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Векселя&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Документарные операции&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Инкассация&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Индивидуальные сейфы&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Тарифы для юридических лиц&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") IT-сервисы для бизнеса&nbsp;

        li.menu_main__item
            .menu__item-link.menu_main__item-link.menu_main__item-link_parent О банке&nbsp;
            ul.menu__list.menu_main__list.menu_main__list_children
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Миссия УТБ сегодня&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") История банка&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Установочные сведения&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Сведения о бухгалтерской и финансовой отчетности&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Прочая информация, обязательная к раскрытию&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Опросы&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Часто задаваемые вопросы&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Защита персональных данных&nbsp;

        li.menu_main__item
            .menu__item-link.menu_main__item-link.menu_main__item-link_parent Новости&nbsp;
            ul.menu__list.menu_main__list.menu_main__list_children
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Акции&nbsp;
                li.menu_main__item
                    a.menu__item-link.menu_main__item-link(href="#") Пресса о нас&nbsp;

        li.menu_main__item
            a.menu__item-link.menu_main__item-link(href="#") Карьера в УТБ&nbsp;
        li.menu_main__item
            a.menu__item-link.menu_main__item-link(href="#") Продажа залогового имущества&nbsp;
        li.menu_main__item
            a.menu__item-link.menu_main__item-link(href="#") Архив журнала «Наш банк»&nbsp;
        li.menu_main__item
            a.menu__item-link.menu_main__item-link(href="#") Идеи&nbsp;
        li.menu_main__item
            a.menu__item-link.menu_main__item-link(href="#") Личный кабинет&nbsp;