.menu.menu_top.hidden-sm
    .page__wrapper
        .js-panel-btn_desktop
            button.panel-btn.js-menu_main__btn
                span.panel-btn__item.panel-btn__item_first
                span.panel-btn__item.panel-btn__item_second
                span.panel-btn__item.panel-btn__item_third
        .js-search_desktop
            .search_top
                form.search_top__form.js-search__form(action="")
                    input.search_top__input(type="text" placeholder="Поиск по сайту")
                    span.icon_search.search_top__icon
        ul.menu__list.menu_top__list
            li.menu__item
                .menu__item-link.menu_top__item-link.menu_top__item-link_parent.js-submenu__link Физическим лицам
                .submenu.js-submenu
                    ul.submenu__list.js-submenu__list
                        li.submenu__item
                            a(href="#").submenu__item-link Кредитование
                        li.submenu__item
                            a(href="#").submenu__item-link Банковские карты
                        li.submenu__item
                            a(href="#").submenu__item-link.act Вклады
                        li.submenu__item
                            a(href="#").submenu__item-link Интернет-банк
                        li.submenu__item
                            a(href="#").submenu__item-link Мобильный банк
                        li.submenu__item
                            a(href="#").submenu__item-link Денежные платежи
                        li.submenu__item
                            a(href="#").submenu__item-link Переводы
                        li.submenu__item
                            a(href="#").submenu__item-link Платежи
                        li.submenu__item
                            a(href="#").submenu__item-link Обмен валюты
                        li.submenu__item
                            a(href="#").submenu__item-link Драгоценные металлы
                        li.submenu__item
                            a(href="#").submenu__item-link Индивидуальные сейфовые ячейки
                        li.submenu__item
                            a(href="#").submenu__item-link Векселя
                        li.submenu__item
                            a(href="#").submenu__item-link Кредитная история
                    button.submenu__btn.js-submenu__btn Ещё
            li.menu__item
                .menu__item-link.menu_top__item-link.menu_top__item-link_parent.js-submenu__link Юридическим лицам
                .submenu.js-submenu
                    ul.submenu__list.js-submenu__list
                        li.submenu__item
                            a(href="#").submenu__item-link Кредитование бизнеса
                        li.submenu__item
                            a(href="#").submenu__item-link Расчетно-кассовое обслуживание
                        li.submenu__item
                            a(href="#").submenu__item-link ИТ-сервисы для бизнеса
                        li.submenu__item
                            a(href="#").submenu__item-link Зарплатный проект
                        li.submenu__item
                            a(href="#").submenu__item-link Корпоративные карты
                        li.submenu__item
                            a(href="#").submenu__item-link ИнтерКлиент
                        li.submenu__item
                            a(href="#").submenu__item-link Торговый эквайринг
                        li.submenu__item
                            a(href="#").submenu__item-link Инкассация
                        li.submenu__item
                            a(href="#").submenu__item-link Валютный контроль
                        li.submenu__item
                            a(href="#").submenu__item-link Депозиты
                        li.submenu__item
                            a(href="#").submenu__item-link Векселя
                        li.submenu__item
                            a(href="#").submenu__item-link Документарные операции
                        li.submenu__item
                            a(href="#").submenu__item-link Индивидуальные сейфовые ячейки
                    button.submenu__btn.js-submenu__btn Ещё
            li.menu__item
                a(href="#").menu__item-link.menu_top__item-link О банке
            li.menu__item
                a(href="#").menu__item-link.menu_top__item-link.act Новости